body {
  background: darkgoldenrod

}

p {
  color: orange;
}

div {
  border: 1px solid black;
}

.foods {
    font-weight: 900;
    color: #64FE2E; /* green */
    text-align: center;
}

#dolphin {
    font-style: italic;
    color: #0040FF; /*blue*/
}

.Dates{
  text-align: center;
  color:blue;

}

.Dealbreakers{
  color:Purple;
text-align: center;

}
